button{
	background-color: black;
	color: #33FF00;
	font-family: "Courier New";
}

body{
	background-color: grey;
	font-family: "Courier New";
}

#sidescroller {
	box-sizing: content-box;
	width: 500px;
	height: 305px;
	color: white;
	border: 2px solid blue;
	overflow-x: hidden;
	overflow-y: hidden;
}

#sidescrollergraphics {
	font-family: "Courier New";
}

p.console{
	background-color: black;
	font-family: "Lucida Sans Typewriter";
	color: white;
}

.pulsate {
    -webkit-animation: pulsate .5s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    }

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.0;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.0;
    }
}