button{
	background-color: black;
	color: #33FF00;
	font-family: "Courier New";
}

body{
	background-color: grey;
	font-family: "Courier New";
}

#leftside {
	float: left;
	width: 25%;
}

#centerscreen {
	float: left;
	margin: auto;
	width: 50%;
}

#labelarea {
	float: left;
	margin: auto;
	width: 8%;
	background-color: white;
}

#canvas{
	background-color: black;
	box-sizing: content-box;;
	width: 600px;
	height: 300px;
	border: 1px solid white;
}

#sidescroller {
	background-color: black;
	box-sizing: content-box;
	width: 500px;
	height: 185px;
	color: white;
	border: 2px solid #33FF00;
	overflow-x: hidden;
	overflow-y: hidden;
}

#sidescrollergraphics {
	font-family: "Courier New";
}

p.console{
	background-color: black;
	font-family: "Lucida Sans Typewriter";
	color: white;
}
/*Console CSS nicked from Universal Paperclips. It was too good.
Should probably make it a bit unique, though.*/
.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0;
    }

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.0;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.0;
    }
}